.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url(20.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 30rem;
  min-height: 63rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 600px) {
  .App-header {
    min-width: 10rem;
    height: 100%;
  }
}

.Countdown {
  padding-top: 15rem;
}

.bday-video {
  background-color: #9b4a72;
  overflow: hidden;
  padding-top: 3rem;
  min-height: 63rem;
}

iframe {
  border-color: #57d4f6;
  border-radius: 5px;
  border-width: 5px;
  width: 100rem;
  height: 57rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
